* {
  box-sizing: border-box;
  font-family: "sen", sans-serif;
}

.hero-section {
  position: relative;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: -1;
}

.left {
  width: 30%;
  background-color: #000000;
}

.right {
  width: 70%;
  background-color: #181823;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  padding: 0 72px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 24px;
}

.contact-button {
  display: inline-flex;
  align-items: center;
  background-color: #5221e6;
  height: 88px;
}

.hero {
  display: flex;
  padding: 80px 0 84px;
  justify-content: space-between;
}

.image-container {
  width: 50%;
}

.image-container img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.content {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  position: absolute;
  left: 40%;
  top: 28%;
}

.content h1 {
  font-size: 78px;
  font-weight: 700;
  margin-bottom: 32px;
}

.description {
  font-size: 18px;
}

.experience-section {
  background-color: #000000;
  padding: 120px 72px;
  color: #8491a0;
}
.green {
  color: #3cc74e;
}
.card-title {
  color: #ffffff;
}
.blue {
  color: #609bff;
}
.pink {
  color: #e95d90;
}
.main-title {
  color: #ffffff;
}

.title {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.main-title {
  font-size: 70px;
  font-weight: 700;
  margin: 8px 0 40px;
}

.cards-wrapper {
  display: flex;
}
.series {
  color: #8491a0;
}

.fontstyle {
  font-size: 40px;
  line-height: 78px;
}

.card-number {
  font-size: 90px;
}

.card-number {
  padding: 40px 40px 40px 0px;
}

.card-title {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 15px;
}

.card-description {
  padding: 5px;
  line-height: 25px;
}

.values-section {
  background-color: #fff3e4;
  display: flex;
  justify-content: space-between;
}
.values-image-container {
  height: 600px;
  width: 50%;
}

.values-image-container img {
  height: 600px;
  object-fit: cover;
  width: 100%;
}

.values-description {
  color: #5b6876;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  margin-top: 24px;
}

.values-style {
  font-family: #181823;
  font-weight: 600;
  font-size: 50px;
  line-height: 160%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.values-content {
  width: 50%;
  padding: 120px 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.values-button {
  color: #181823;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.skillset-section {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 120px 72px;
}

.my-box {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.left {
  width: 50%;
  padding: left 48px;
  margin: top 24px;
}

.right {
  width: 70%;
}

.large-text {
  font-size: 55px;
  text-align: left;
  font-weight: 700;
  padding-bottom: 24px;
  margin: 0;
}

.skillset-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #8491a0;
  margin: 0;
}

.pro-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
}

.cards-row {
  display: flex;
}

.card-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  margin: 12px;
}

.card-sub-title {
  color: #8491a0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding-right: 48px;
}
